/* 
--color1: hsla(141%, 34%, 85%, 1);
--color2: hsla(163%, 37%, 68%, 1);
--color3: hsla(180%, 37%, 52%, 1);
--color4: hsla(12%, 36%, 44%, 1);
--color5: hsla(10%, 43%, 22%, 1); 
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	margin: 0;
}
body {
	background-color: #ffffff;
}
button {
	border: none;
	color: #f4fbff;
}
#logo {
	margin-top: 10px;
	text-align: center;
}
.main {
	display: flex;
	flex: auto;
}

#chartdiv {
	width: 100%;
	min-height: 500px;
	height: 50%;
}
.chart {
	flex: 10;
}
.budget-positions-div {
	flex: 7;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.budget-positions-div h3 {
	font-weight: 600;
	letter-spacing: 0.15em;
	font-size: 36px;
	color: #3423a6;
}
.bar {
	height: 5px;
	width: 47px;
	background-color: #007979;
}
.positions {
	margin-top: 79px;
}
#utility-btns {
	flex: 5;
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.utility-btn {
	background-color: #3423a6;
	color: #f4fbff;
	border: none;
	font-weight: 600;
	font-size: 36px;
}
.utility-btn:hover {
	cursor: pointer;
}
.utility {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.transaction-container {
	display: flex;
	/* margin-right: 150px; */
	justify-content: center;
	flex: 4;
}
.transaction {
	display: flex;
	justify-content: space-around;

	width: 70%;
}
.transaction button {
	font-size: 48px;
}
#buy-btn {
	background-color: #23a66f;
}
#sell-btn {
	background-color: #c14949;
}
.buy {
	font-size: 48px;
	text-align-last: center;
	background-color: #989898;
	color: #f4fbff;
}
.buy option {
	font-size: 20px;
	text-align: center;
}
